.sku {
    color: grey;
}

.product {
    border: dotted 1px gray;
    margin:20px;
    padding: 20px;
}

.price {
    color: red;
    font-size: 22px;
}
.name{
    color: #4682B4;
    font-size: 18px;
}
.titel{
    color: #4682B4;
}
.date{
    color: black;
    font-size: 14px;
}
.colums{
    color:dimgray;
    font-size: 18px;
   }